<header class="home-header">
  <%= render "header" %>
</header>
<div class="wrapper mycontents">
  <div class="main">
    <%= render "main" %>
  </div>
</div>
<div class="post">
  <%= render "post" %>
</div>