<header>
  <%= render "header" %>
</header>
<div class="wrapper">
  <div class="main">
    <%= render "main" %>
  </div>
</div>
<div class="contents-post-icon">
  <%= link_to root_path do %>
    <i class="fa fa-pencil-alt fa-fw"></i>
  <% end %>
</div>