<% unless content.try_user(current_user.id).blank? %>
  <%= link_to(content_try_path(content.id, content.tries[0].id), method: :delete, remote: true) do %>
    <div class="try-container">
      <div class="try-btn">
        <div class="try-icon">
          <i class="fa fa-thumbtack fa-fw"></i>トライ中
        </div>
        <div class="try-icon-hover">
          <i class="fa fa-thumbtack fa-fw"></i>トライをやめる
        </div>
      </div>
      <div class="try-number">
        <%= link_to "#{content.tries.length}人がトライ中", list_content_try_path(content, :id) %>
      </div>
    </div>
  <% end %>
<% else %>
  <%= link_to(content_tries_path(content.id), method: :post, remote: true) do %>
    <div class="try-container">
      <div class="no-try-icon">
        <i class="fa fa-thumbtack fa-fw"></i>トライする
      </div>
      <div class="try-number">
        <%= link_to "#{content.tries.length}人がトライ中", list_content_try_path(content, :id) %>
      </div>
    </div>
  <% end %>
<% end %>