/* 回答済・未回答ボタン */
.answer-icon {
  text-align: center;
  color: #FFFFFF;
  font-size: small;
  font-weight: bold;
  background-color: #00CED1;
  border: 1px solid #00CED1;
  border-radius: 3px;
  padding: 3px 0;
  width: 120px;
}

.no-answer-icon {
  text-align: center;
  color: #00CED1;
  font-size: small;
  font-weight: bold;
  border: 1px solid #00CED1;
  border-radius: 3px;
  padding: 3px 0;
  width: 120px;
}

/* 回答済・未回答ボタンのホバー時 */
.answer-icon-hover {
  display: none;
  text-align: center;
  color: #00CED1;
  background-color: #b0feff;
  font-size: small;
  font-weight: bold;
  border: 1px solid #00CED1;
  border-radius: 3px;
  padding: 3px 0;
  width: 120px;
}

.answer-btn:hover .answer-icon {
  display: none;
}

.answer-btn:hover .answer-icon-hover {
  display: block;
}