/* コメント投稿フォーム */
.comment-form {
  display: flex;
  justify-content: center;
}

.comment-textarea {
  width: 500px;
  height: 50px;
  margin-right: 10px;
  font-size: small;
  padding: 5px 10px;
}

.comment-submit-btn {
  height: 50px;
  font-size: small;
  padding: 10px;
  color: #FFFFFF;
  background-color: #333;
  border: 1px solid #333;
  border-radius: 3px;
}

.comment-submit-btn:hover {
  background-color: #444;
  border: 1px solid #444;
  cursor: pointer;
}

/* コメント表示部分 */
.comment-container {
  padding: 5px;
}

.comment-container-upper {
  display: flex;
  font-size: small;
}

.comment-user-nickname {
  font-weight: bold;
  margin-right: 10px;
}

.comment-date {
  color: #999;
  margin-right: 30px;
}

.comment-delete a {
  color: red;
}

.comment-user-nickname:hover,
.comment-delete a:hover {
  text-decoration: underline;
}