/* ヘッダー */
header { 
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #FFFFFF;
  border-bottom: 1px solid rgb(219, 219, 219);
  position: fixed;
  top: 0;
  z-index: 10;
}

.header {
  display: flex;
  justify-content: space-around;
}

.header-left a {
  font-size: 25px;
  font-weight: bolder;
}

.header-left a > span {
  color: #33b913;
}

.header-right {
  display: flex;
}

.header-right-menu a {
  margin-right: 15px;
  padding: 10px 8px;
  border: 1px solid #333;
  border-radius: 50px;
}

.header-right-menu a:hover,
.user-icon:hover {
  background-color: #333;
  color: #FFFFFF;
  cursor: pointer;
}

.home-header .home-icon a,
.search-header .search-icon a,
.follow-header .friends-icon a {
  background-color: #333;
  color: #FFFFFF;
}

.user-icon {
  border: 1px solid #333;
  border-radius: 50px;
  margin-top: 11px;
  height: 38px;
  line-height: 35px;
  padding: 0 8px;
  position: relative;
}

.user-icon-menu {
  display: none;
  position: absolute;
  top: 45px;
  right: -30px;
  width: 200px;
  background-color: #FFFFFF;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
}

.user-icon-menu a {
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: small;
  border: none;
  border-radius: 3px;
  margin: 0%;
  padding: 0 10px;
}

.user-icon-menu a:hover {
  color: black;
  background-color: #FFFFFF;
}

.user-icon-menu-profile a {
  display: block;
  width: 100%;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* メイン部分 */
.wrapper {
  background-color: #FAFAFA;
  height: 100vh;
  overflow: scroll;
}

.main {
  width: 1024px;
  margin: 70px auto 150px;
}

.main-header {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.main-header-left {
  margin-right: 30px;
}

.main-header a {
  display: block;
  width: 300px;
  padding: 10px 0;
  background-color: #FFFFFF;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
}

.main-header a:hover {
  background-color: #555;
  color: #FFFFFF;
}

.mycontents .main-header-left a {
  background-color: #333;
  color: #FFFFFF;
}

/* 検索窓 */
.main-search {
  width: 630px;
  margin: 0 auto;
  padding: 10px;
  background-color: #FFFFFF;
  border: 1px solid rgb(219, 219, 219);
}

.main-search-container {
  display: flex;
}

.main-search-grade > select,
.main-search-subject > select,
.search-textarea {
  height: 30px;
  font-size: small;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  padding: 0 10px;
  margin-right: 5px;
}

.search-textarea {
  width: 400px;
}

.hidden {
  display: none;
}

.main-search-btn {
  height: 30px;
  padding: 2px 5px;
  border: 1px solid #333;
  border-radius: 3px;
  color: #FFFFFF;
  background-color: #333;
}

.main-search-btn:hover {
  background-color: #555;
  border: 1px solid #555;
  cursor: pointer;
}

.content-empty-message {
  margin-top: 50px;
  text-align: center;
}

/* コンテンツ部分 */
.main-content {
  background-color: #FFFFFF;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  margin: 10px;
  padding: 10px;
}

.main-content-upper {
  display: flex;
}

.main-content-upper-nickname a {
  font-weight: bold;
}

.main-content-upper-nickname a:hover {
  text-decoration: underline;
}

.main-content-upper-username a,
.main-content-upper-date {
  color: #999;
} 

.main-content-center {
  display: flex;
}

.main-content-center-list {
  margin-right: 10px;
  color: #FFFFFF;
  background-color: #333;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  font-size: small;
  padding: 3px 10px;
}

.main-content-question {
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  padding: 10px;
  margin: 10px 0;
}

.main-content-question a {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.main-content-lower {
  display: flex;
  justify-content: space-around;
}

.main-content-lower-try {
  padding: 5px;
  border: 1px solid #333;
  border-radius: 3px;
}

/* コンテンツ投稿ページ遷移ボタン */
.contents-post-icon a {
  background-color: #333;
  color: #FFFFFF;
  font-size: 30px;
  padding: 10px 15px;
  border: 2px solid #333;
  border-radius: 50px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.contents-post-icon a:hover {
  background-color: #555;
  border: 2px solid #555;
}

/* コンテンツ投稿ページ */
.content-form {
  width: 1024px;
  margin: 70px auto;
  background-color: #FFFFFF;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  padding: 15px;
}

.content-form-upper {
  display: flex;
}

.select-box {
  width: 150px;
  height: 30px;
  text-indent: 40px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  margin-right: 30px;
  }

.category-input {
  width: 500px;
  height: 30px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
}

.content-input {
  padding: 10px 0;
}

.content-input > label {
  font-weight: bold;
  background-color: #EFEFEF;
  padding: 5px;
}

.content-input > span {
  color: red;
  font-weight: bold;
  font-size: small;
}

.content-input-area {
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;  
}

.content-form-lower {
  display: flex;
  justify-content: space-between;
}

.content-form-submit-btn {
  width: 200px;
  height: 50px;
  color: #FFFFFF;
  background-color: #333;
  border: 1px solid #333;
  border-radius: 3px;
}

.content-form-submit-btn:hover {
  background-color: #444;
  border: 1px solid #444;
  cursor: pointer;
}

/* コンテンツ詳細ページ */
.content-show {
  width: 1024px;
  margin: 70px auto 150px;
  background-color: #FFFFFF;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  padding: 15px;
}

.content-show-upper {
  display: flex;
  justify-content: space-between;
}

.content-show-nickname a {
  font-weight: bold;
}

.content-show-nickname a:hover {
  text-decoration: underline;
}

.content-show-upper-right-icon {
  color: #999;
  position: relative;
}

.content-show-upper-right-icon:hover {
  cursor: pointer;
}

.content-show-upper-right-menu {
  display: none;
  position: absolute;
  right: -10px;
  width: 100px;
  border: 1px solid rgb(219, 219, 219);
  background-color: #FFFFFF;
  border-radius: 3px;
}

.content-show-upper-right-menu a {
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: small;
  border-radius: 3px;
  padding: 0 10px;
}

.content-show-upper-right-menu a:hover {
  background-color: rgb(250, 250, 250);
}

/* コンテンツ削除ボタン */
.content-delete-open {
  color: red;
  height: 40px;
  line-height: 40px;
  font-size: small;
  border-radius: 3px;
  padding: 0 10px;
}

.content-delete-open:hover {
  background-color: rgb(250, 250, 250);
}

.content-delete-modal {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(128, 128, 128, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.content-delete-container {
  width: 400px;
  height: 200px;
  background-color: #FFFFFF;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
}

.content-delete-sentence {
  padding: 50px 0;
  font-weight: bold;
}

.content-delete-btn {
  display: flex;
  justify-content: space-around;
}

.content-delete-cancel {
  font-size: smaller;
  padding: 5px 20px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
}

.content-delete-cancel:hover {
  background-color: #333;
  color: #FFFFFF;
  cursor: pointer;
}

.content-delete-action a {
  display: block;
  font-size: smaller;
  padding: 5px 20px;
  border: 1px solid red;
  border-radius: 3px;
  color: red;
}

.content-delete-action a:hover {
  color: #FFFFFF;
  background-color: red;
}
/* コンテンツ削除ボタン */

.content-show-username a,
.content-show-date {
  color: #999;
}

.content-show-center {
  display: flex;
}

.content-show-center-list {
  margin-right: 10px;
  color: #FFFFFF;
  background-color: #333;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  font-size: small;
  padding: 3px 10px;
}

.content-show-date {
  text-align: right;
}

.content-show-main {
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  margin: 10px 0;
}

.content-show-main-title {
  font-weight: bold;
  background-color: #EFEFEF;
  padding: 5px 15px;
}

.content-show-question,
.content-show-answer,
.content-show-explanation {
  padding: 15px;
}

figure > img {
  width: 300px;
}

.content-show-answer-open {
  color: #FFFFFF;
  background-color: #0095f6;
  border: 1px solid #0095f6;
  border-radius: 3px;
  display: inline-block;
  padding: 5px;
  margin: 0 10px 10px;
}

.content-show-answer-open:hover {
  cursor: pointer;
  background-color: #00bdf6;
  border: 1px solid #00bdf6;
}

.content-show-answer-modal {
  display: none;
}

.content-show-lower {
  display: flex;
  justify-content: space-around;
}

.content-show-lower-try {
  padding: 5px;
  border: 1px solid #333;
  border-radius: 3px;
}

/* コンテンツ検索ページ */
.search {
  width: 1024px;
  margin: 70px auto 150px;
}

.search-upper {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.search-upper-left {
  margin-right: 30px;
}

.search-upper a {
  display: block;
  width: 300px;
  padding: 10px 0;
  background-color: #FFFFFF;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
}

.search-upper a:hover {
  background-color: #555;
  color: #FFFFFF;
  cursor: pointer;
}

.search-content .search-upper-left a {
  background-color: #333;
  color: #FFFFFF;
}