/* 新規登録・ログインページ */
.account-page {
  background-color: #FAFAFA;
  height: 100vh;
  overflow: scroll;
  padding: 50px 0;
}

.account-page-upper {
  width: 480px;
  margin: 0 auto;
  padding: 50px 35px;
  background-color: #FFFFFF;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
}

.account-page-title {
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
}

.account-page-title > span {
  color: #33b913;
}

.input {
  width: 400px;
  padding: 5px;
  font-size: small;
  background-color: #FAFAFA;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
}

.field {
  margin: 10px 0;
}

.submit-btn {
  width: 400px;
  padding: 5px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #333;
  border: 1px solid #333;
  border-radius: 3px;
}

.submit-btn:hover {
  background-color: #444;
  border: 1px solid #444;
  cursor: pointer;
}

.account-page-lower {
  width: 480px;
  margin: 20px auto 0;
  padding: 20px 30px;
  background-color: #FFFFFF;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  display: flex;
  justify-content: center;
}

.account-page-lower-right a {
  color: #0095f6;
  font-weight: bold;
}

/* ユーザー詳細ページ */
.user-show {
  width: 1024px;
  margin: 70px auto 150px;
}

.user-show-container {
  width: 750px;
  margin: 0 auto;
  padding: 10px;
}

.user-show-upper {
  display: flex;
}

.user-show-nickname {
  font-size: large;
  font-weight: bold;
  margin-right: 20px;
}

.user-edit-btn a {
  display: block;
  font-size: small;
  font-weight: bold;
  padding: 3px 10px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
}

.user-show-introduction,
.user-show-lower {
  padding: 10px 0;
}

.user-show-center,
.user-show-lower {
  display: flex;
}

.user-show-content-count,
.user-show-trycontents,
.user-show-following {
  margin-right: 30px;
}

.user-show-trycontents:hover,
.user-show-following:hover,
.user-show-follower:hover {
  text-decoration: underline;
}

.user-show-follow {
  display: flex;
}

/* ユーザー編集ページ */
.user-edit {
  width: 480px;
  margin: 70px auto;
  background-color: #FFFFFF;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  padding: 15px 35px;
}

.user-edit-field {
  margin: 10px 0;
}

.input-area {
  width: 400px;
  height: 70px;
  padding: 5px;
  font-size: small;
  background-color: #FAFAFA;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
}

#user-prefecture,
.birthday-input > select {
  font-size: small;
  padding: 5px;
  background-color: #FAFAFA;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
}

#user-prefecture {
  width: 100px;
}

#text-alert {
  display: none;
  width: 400px;
  padding: 5px;
  font-size: small;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  background-color: red;
  border: 1px solid red;
  border-radius: 3px;
  margin-top: -15px;
}

/* ユーザー検索ページ */
.search-user .search-upper-right a {
  background-color: #333;
  color: #FFFFFF;
}

.users-search-textarea {
  height: 30px;
  width: 570px;
  font-size: small;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  padding: 0 10px;
  margin-right: 5px;
}

.user-empty-message {
  margin-top: 50px;
  text-align: center;
}

/* ユーザーリスト */
.user-list {
  width: 630px;
  margin: 10px auto;
  padding: 10px;
  background-color: #FFFFFF;
  border: 1px solid rgb(219, 219, 219);
}

.user-list-upper {
  display: flex;
  justify-content: space-between;
}

.user-list-upper-left {
  width: 500px;
}

.user-list-nickname {
  font-weight: bold;
}

.user-list-nickname:hover {
  text-decoration: underline;
}

.user-list-username,
.user-list-introduction {
  font-size: small;
}

.user-list-username {
  color: #999;
}

.user-list-upper-right a {
  display: block;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  padding: 0 5px;
}

.user-list-introduction {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

/* 各ユーザーのトライコンテンツ一覧ページ */
.user-try {
  width: 1024px;
  margin: 70px auto 150px;
}

.user-try-title {
  font-size: large;
  font-weight: bold;
  padding: 0 0 10px 10px;
}